<meta charset="UTF-8">
<div id="h">
    <span class="tl">
            <a href="/"><b th:content="${application.propertyMap[k1]}"></b></a> - <span th:content="${application.propertyMap[k2]}"></span>
    </span>
    <span class="tr">
            <span><a  href="/weixinLogin"><img src="/images/weixinlogin.png"/></a></span>&nbsp;&nbsp;
            <span><a href="/qqLogin"><img src="/images/qqlogin.png"/></a>&nbsp;&nbsp;</span>
            <b th:content="${application.propertyMap[k3]}"></b>
    </span>
</div>