<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaofei.mybatisDao.CarouselArticleDao">
    <resultMap id="carouselArticleMap" type="CarouselArticle">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="image_name" property="imageName"/>
        <result column="sort" property="sort"/>
    </resultMap>
    
    <sql id="carouselArticleColumn">id,name,url,image_name,sort</sql>

    <select id="getCarouselArticleList" resultMap="carouselArticleMap">
        select <include refid="carouselArticleColumn"/> from t_carousel_article order by sort;
    </select>
    
    <select id="getCarouselArticleById" resultMap="carouselArticleMap" parameterType="Long">
        select <include refid="carouselArticleColumn"/> from t_carousel_article where id=#{id}
    </select>
    
    <insert id="saveCarouselArticle" parameterType="CarouselArticle" useGeneratedKeys="true" keyProperty="id">
        insert into t_carousel_article (name,url,image_name,sort) values (#{name},#{url},#{imageName},#{sort})
    </insert>
    
    <update id="updateCarouselArticle" parameterType="CarouselArticle">
        update t_carousel_article
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="url!=null and url!=''">
                url=#{url},
            </if>
            <if test="imageName!=null and imageName!=''">
                image_name=#{imageName},
            </if>
            <if test="sort!=null and sort!=''">
                sort=#{sort},
            </if>
        </set>
        where id=#{id}
    </update>
    
    <delete id="deleteCarouselArticleById" parameterType="Long">
        delete from t_carousel_article where id=#{id}
    </delete>
        
</mapper>