<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<meta name="keywords" th:content="${article.title}">
<meta name="description" th:content="${article.title}">
<link href="/systemImages/favicon.ico" rel="SHORTCUT ICON">
<title th:text="${article.title}+'-'+${application.propertyMap['k1']}"></title>
<link rel="stylesheet" href="/layui/css/layui.css"/>
<link rel="stylesheet" href="/css/css.css"/>
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/share.min.css">
<head>
    <meta charset="UTF-8">
</head>
<body >

<div class="header_top" th:include="common/head::#h" />


<div class="header" th:include="common/menu::#m" />

<div class="course_body">
    <div class="w1220 course_nav">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
          <a><cite>文章</cite></a>
        </span>
    </div>

    <div class="w1220 article_content">
        <div class="title" th:text="${article.title}"></div>
        <div class="content" th:utext="${article.content}">
        </div>
    </div>

    <div class="space">

    </div>
</div>

<div class="footer" th:include="common/footer::#f" />


<script src="/layui/layui.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.share.min.js"></script>
<script src="/js/common.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    layui.use(['element'], function(){


    });



    /*]]>*/
</script>

</body>
</html>